{% import "bootstrap/wtf.html" as wtf %}

extends base
block main      
  .row
    .col-md-4
    .col-md-4
      h1 Login!
      form(method="POST", role="form")
        {{ login_user_form.hidden_tag() }}
        {{wtf.form_field(login_user_form.username)}}
        {{wtf.form_field(login_user_form.password)}}        
        {{wtf.form_field(login_user_form.submit, class="btn btn-success")}}
    .col-md-4
